# options: https://clang.llvm.org/docs/ClangFormatStyleOptions.html
BasedOnStyle: Mozilla
ColumnLimit: 120
IndentWidth: 4

AlignAfterOpenBracket: BlockIndent
AlignConsecutiveMacros:
  Enabled: true
  AcrossComments: true
AlignTrailingComments:
  Kind: Always
AllowAllArgumentsOnNextLine: true
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: Empty
AlwaysBreakAfterReturnType: AllDefinitions
InsertBraces: true
